# @author Team 42, Melbourne, Steven Tang, 832031

# https://hub.docker.com/_/couchdb

version: '3'
services:
  couchdb:
    image: couchdb:3
    environment:
      - COUCHDB_USER={{ couch.user }}
      - COUCHDB_PASSWORD={{ couch.password }}
      - COUCHDB_SECRET={{ couch.secret }}
      # use hostname of node (attached to correspondingly numbered volume)
      - NODENAME="{{ ansible_hostname }}.comp90024"
    command: "-setcookie {{ couch.cookie }}"
    ports:
      - "5984:5984"
      - "4369:4369"
      - "9100:9100"
    volumes:
      - {{ couch.data_dir }}:/opt/couchdb/data
    networks:
      - comp90024
    # Define hostname/ip mappings for FQDN
    # https://stackoverflow.com/questions/25373154
    extra_hosts:
      {% for item in hostvars['localhost']['ip_names'] -%}
      - "{{ item.name }}.comp90024: {{ item.ip }}"
      {% endfor %}

networks:
  comp90024:
