version: '3'
services:
  app:
    build: ./
    environment:
        - DB_USERNAME={{ couch.user }}
        - DB_PASSWORD={{ couch.password }}
        - DB_PORT={{ couch.port }}
    networks:
        - couch_comp90024
    restart: on-failure

  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    links:
      - app

# Network setup, adapted from:
# https://stackoverflow.com/questions/38088279
networks:
  couch_comp90024:
    external: true
