version: '3'
services:
  app:
    build: ./
    ports:
      - 80:3000
    environment:
        - DB_USERNAME={{ couch.user }}
        - DB_PASSWORD={{ couch.password }}
        - DB_PORT={{ couch.port }}
    networks:
        - couch_comp90024

# Network setup, adapted from:
# https://stackoverflow.com/questions/38088279
networks:
  couch_comp90024:
    external: true
