version: '3'
services:
  master:
    build: ./
    environment:
      TZ: "Australia/Melbourne"
    command: "reg {{ inventory_hostname }}"
    ports:
      - 8673:8673
    networks:
        - couch_comp90024
    restart: on-failure

networks:
  couch_comp90024:
    external: true
